<div ng-include="'scripts/admin/views/includes/admin_navbar.html'"></div>

<div class="container">

	<div class="row">
		<div class="col-lg-6">
			<h3 class="text-center">Active Menu Items</h3>
			<div class="well well-lg" style="height:150px;"> <!-- temporary height value -->
			</div>
		</div>
		<div class="col-lg-6">
			<h3 class="text-center">Add Menu Item</h3>
			<div class="well well-lg" style="height:150px;"> <!-- temporary height value -->
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6">
			<h3 class="text-center">Inactive Menu Items</h3>
			<div class="well well-lg" style="height:150px;"> <!-- temporary height value -->
			</div>
		</div>
	</div>

</div>

