[ng\:cloak], [ng-cloak],.ng-cloak 
{
	display:none !important;
}

.vert_spacer
{
	height: 50px;
}

.rightmost-nav
{
	margin-right:15px;
}

/**** Home Page Styles ****/
#home2
{
	background: url(../images/home_image2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height:533px;
}

#home1
{
	background: url(../images/home_image1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height:534px;	
}